@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  display: inline-block;
}
:root {
  /* color */
  --colorPrimary: rgb(190, 24, 24);
  --colorSecondary: #696969;
  /* background */
  --backgroundPrimary: navy;

  /* padding */
  --padding: 0 130px;
}
.title {
  color: #0d263b;
  font-weight: 600;
  font-size: 28px;
  line-height: 36 px;
}
.subTitle {
  color: #0d263b;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 5px;
}
.info {
  font-weight: 400;
  font-size: 14px;
  color: #696969;
  line-height: 20px;
}
